html { 
    height: 100% 
}
body { 
    height: 100%; 
    margin: 0; 
    padding: 0 
}
#wrapper { 
    height: 100%; 
    margin: 0; 
    padding: 0 
}
#map-canvas { 
    height: 100%
}
aside { 
    height: 100%; 
    width: 23%; 
    float: left; 
    border-right: 5px double gray;
    padding-left: 25px;
    overflow: scroll;
}
input {
    height: 2em;
    width: 200px;
    margin-bottom: 12px;
    border-radius: 10px;
}
h1 {
    margin-bottom: 12px;
}
button {

    height: 2.3em;
    border-radius: 15px;
}
.picts {
    display: none;
}
h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}